.page {
  font-family: "Inter", sans-serif;
  background-color: #000;
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  max-width: 880px;
}

.header {
  padding: 45px 0 37px 0;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 918px) {
  .header {
    padding: 45px 19px 37px 19px;
  }
}

@media screen and (max-width: 619px) {
  .header {
    padding: 28px 0 28px 0;
    margin: 0;
  }
}

.header__logo {
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 619px) {
  .header__logo {
    width: 103px;
    height: 24px;
    padding-left: 27px;
  }
}

.profile {
  display: grid;
  grid-template-columns: 120px minmax(230px, 1fr) 150px;
  align-items: center;
  padding: 40px 0 51px 0;
  gap: 30px;
}

@media screen and (max-width: 918px) {
  .profile {
    padding: 40px 19px 51px 19px;
  }
}

@media screen and (max-width: 619px) {
  .profile {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 26px;
    padding: 42px 19px 36px 19px;
  }
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__info {
}

.profile__name {
  color: #fff;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
  margin: 0 15px 7px 0;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .profile__name {
    font-size: 27px;
    margin: 0 10px 7px 0;
  }
}

.profile__edit-button {
  appearance: none;
  background: center no-repeat url(./images/profile-edit-btn.svg);
  display: inline;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}

.profile__subname {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.21;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .profile__subname {
    font-size: 14px;
    margin-bottom: 9px;
  }
}

@media screen and (max-width: 619px) {
  .profile__subname {
    text-align: center;
  }
}

.profile__add-button {
  appearance: none;
  background: center no-repeat url(./images/profile-add-btn.svg);
  display: inline;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 619px) {
  .profile__add-button {
    width: 100%;
  }
}

.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: repeat(auto-fit, 1fr);
  justify-content: center;
  row-gap: 20px;
  column-gap: 17px;
  padding-bottom: 50px;
}

@media screen and (max-width: 619px) {
  .elements {
    padding-bottom: 37px;
  }
}

.element {
  width: 282px;
  height: 361px;
  background-color: #fff;
  border-radius: 10px;
}

.element__figure {
  margin: 0;
}

.element__image {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.element__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.21;
  margin: 0;
  display: inline-block;
  width: 190px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__caption {
  display: flex;
  align-items: center;
  gap: 28px;
  margin: 21px 0 0 22px;
}

.element__like-button {
  appearance: none;
  border: none;
  background: center no-repeat url(./images/elements-like-btn.svg);
  width: 22px;
  height: 19px;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}

.element__like-button_active {
  background: center no-repeat url(./images/elements-like-btn-active.svg);
}

.element__like-button:hover {
  opacity: 0.5;
}

.footer {
  padding: 0 0 60px 0;
}

@media screen and (max-width: 918px) {
  .footer {
    padding: 0 0 18px 19px;
  }
}

.footer__copyright {
  color: #545454;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.21;
}

@media screen and (max-width: 619px) {
  .footer__copyright {
    font-size: 14px;
  }
}

.popup {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup__window {
  position: relative;
  background-color: #fff;
  padding: 34px 36px 37px 36px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.form {
}

.form__header {
  margin: 0 0 54px 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.21;
}

.form__input {
  display: block;
  margin: 0 0 30px 0;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  padding: 0 0 13px 0;
}

.form__input:focus {
  outline: none;
}

.form__input:last-of-type {
  margin-bottom: 48px;
}

.form__btn-save {
  appearance: none;
  border: none;
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.21;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}

.form__btn-save:hover {
  opacity: 0.8;
}

.form__btn-close {
  background: center no-repeat url(./images/popup-close-btn.svg);
  appearance: none;
  border: none;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}

.form__btn-close:hover {
  opacity: 0.6;
}
